USE [master]
GO
/****** Object:  Database [QLPhongTro]    Script Date: 9/1/2026 9:39:45 PM ******/
CREATE DATABASE [QLPhongTro]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLPhongTro', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\QLPhongTro.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLPhongTro_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\QLPhongTro_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLPhongTro].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLPhongTro]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 9/1/2026 9:39:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MaHoaDon] [char](10) NOT NULL,
	[MaHD] [char](10) NOT NULL,
	[Thang] [int] NOT NULL,
	[Nam] [int] NOT NULL,
	[CSDienCu] [int] NOT NULL,
	[CSDienMoi] [int] NOT NULL,
	[DonGiaDien] [float] NOT NULL,
	[CSNuocCu] [int] NOT NULL,
	[CSNuocMoi] [int] NOT NULL,
	[DonGiaNuoc] [float] NOT NULL,
	[TienPhong] [float] NOT NULL,
	[TongTien] [float] NULL,
	[NgayHetHan] [date] NOT NULL,
	[TrangThaiThanhToan] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOPDONG]    Script Date: 9/1/2026 9:39:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOPDONG](
	[MaHD] [char](10) NOT NULL,
	[MaNT] [char](10) NOT NULL,
	[MaPhong] [char](10) NOT NULL,
	[NgayBatDau] [date] NOT NULL,
	[NgayKetThuc] [date] NOT NULL,
	[GiaThue] [float] NOT NULL,
	[TrangThai] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NGUOITHUE]    Script Date: 9/1/2026 9:39:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGUOITHUE](
	[MaNT] [char](10) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[NgaySinh] [date] NULL,
	[CCCD] [varchar](20) NOT NULL,
	[SoDienThoai] [varchar](15) NOT NULL,
	[Email] [varchar](100) NULL,
	[NgayVaoO] [date] NULL,
	[MaPhong] [char](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHONG]    Script Date: 9/1/2026 9:39:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONG](
	[MaPhong] [char](10) NOT NULL,
	[TenPhong] [nvarchar](50) NOT NULL,
	[SoNguoiToiDa] [int] NOT NULL,
	[GiaPhong] [float] NOT NULL,
	[LoaiGia] [nvarchar](30) NULL,
	[TrangThai] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 9/1/2026 9:39:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[TenDangNhap] [varchar](50) NOT NULL,
	[MatKhau] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[HOADON] ([MaHoaDon], [MaHD], [Thang], [Nam], [CSDienCu], [CSDienMoi], [DonGiaDien], [CSNuocCu], [CSNuocMoi], [DonGiaNuoc], [TienPhong], [TongTien], [NgayHetHan], [TrangThaiThanhToan]) VALUES (N'HDN001    ', N'HD001     ', 9, 2026, 360, 400, 3500, 42, 45, 15000, 2500000, 2546680, CAST(N'2026-10-05' AS Date), N'Đã thanh toán')
INSERT [dbo].[HOADON] ([MaHoaDon], [MaHD], [Thang], [Nam], [CSDienCu], [CSDienMoi], [DonGiaDien], [CSNuocCu], [CSNuocMoi], [DonGiaNuoc], [TienPhong], [TongTien], [NgayHetHan], [TrangThaiThanhToan]) VALUES (N'HDN002    ', N'HD001     ', 8, 2026, 360, 370, 3500, 50, 55, 15000, 2500000, 2545500, CAST(N'2026-09-05' AS Date), N'Quá hạn')
INSERT [dbo].[HOADON] ([MaHoaDon], [MaHD], [Thang], [Nam], [CSDienCu], [CSDienMoi], [DonGiaDien], [CSNuocCu], [CSNuocMoi], [DonGiaNuoc], [TienPhong], [TongTien], [NgayHetHan], [TrangThaiThanhToan]) VALUES (N'HDN003    ', N'HD002     ', 7, 2026, 400, 420, 3500, 38, 40, 15000, 1500000, 1600000, CAST(N'2026-08-05' AS Date), N'Quá hạn')
GO
INSERT [dbo].[HOPDONG] ([MaHD], [MaNT], [MaPhong], [NgayBatDau], [NgayKetThuc], [GiaThue], [TrangThai]) VALUES (N'HD001     ', N'NT001     ', N'P101      ', CAST(N'2025-09-01' AS Date), CAST(N'2026-09-01' AS Date), 2500000, N'Đang hiệu lực')
INSERT [dbo].[HOPDONG] ([MaHD], [MaNT], [MaPhong], [NgayBatDau], [NgayKetThuc], [GiaThue], [TrangThai]) VALUES (N'HD002     ', N'NT003     ', N'P102      ', CAST(N'2025-10-01' AS Date), CAST(N'2026-09-15' AS Date), 2400000, N'Đang hiệu lực')
INSERT [dbo].[HOPDONG] ([MaHD], [MaNT], [MaPhong], [NgayBatDau], [NgayKetThuc], [GiaThue], [TrangThai]) VALUES (N'HD003     ', N'NT005     ', N'P201      ', CAST(N'2026-01-01' AS Date), CAST(N'2026-07-01' AS Date), 750000, N'Đang hiệu lực')
GO
INSERT [dbo].[NGUOITHUE] ([MaNT], [HoTen], [NgaySinh], [CCCD], [SoDienThoai], [Email], [NgayVaoO], [MaPhong]) VALUES (N'NT001     ', N'Nguyễn Văn An', CAST(N'2003-05-10' AS Date), N'079203001111', N'0901234567', N'an.nguyen@gmail.com', CAST(N'2025-09-01' AS Date), N'P101      ')
INSERT [dbo].[NGUOITHUE] ([MaNT], [HoTen], [NgaySinh], [CCCD], [SoDienThoai], [Email], [NgayVaoO], [MaPhong]) VALUES (N'NT002     ', N'Trần Thị Bình', CAST(N'2004-08-15' AS Date), N'079204002222', N'0912345678', N'binh.tran@gmail.com', CAST(N'2025-09-01' AS Date), N'P101      ')
INSERT [dbo].[NGUOITHUE] ([MaNT], [HoTen], [NgaySinh], [CCCD], [SoDienThoai], [Email], [NgayVaoO], [MaPhong]) VALUES (N'NT003     ', N'Lê Minh Cường', CAST(N'2003-11-20' AS Date), N'079203003333', N'0923456789', N'cuong.le@gmail.com', CAST(N'2025-10-01' AS Date), N'P102      ')
GO
INSERT [dbo].[PHONG] ([MaPhong], [TenPhong], [SoNguoiToiDa], [GiaPhong], [LoaiGia], [TrangThai]) VALUES (N'P101      ', N'Phòng 101', 2, 2500000, N'Cố định', N'Đã thuê')
INSERT [dbo].[PHONG] ([MaPhong], [TenPhong], [SoNguoiToiDa], [GiaPhong], [LoaiGia], [TrangThai]) VALUES (N'P102      ', N'Phòng 102', 4, 800000, N'Theo đầu người', N'Đã thuê')
INSERT [dbo].[PHONG] ([MaPhong], [TenPhong], [SoNguoiToiDa], [GiaPhong], [LoaiGia], [TrangThai]) VALUES (N'P103      ', N'Phòng 103', 2, 3000000, N'Cố định', N'Trống')
GO
INSERT [dbo].[TaiKhoan] ([TenDangNhap], [MatKhau]) VALUES (N'dohoangtantai', N'123456')
INSERT [dbo].[TaiKhoan] ([TenDangNhap], [MatKhau]) VALUES (N'nguyenthaihung', N'123456')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NGUOITHU__A955A0AA974DC672]    Script Date: 9/1/2026 9:39:46 PM ******/
ALTER TABLE [dbo].[NGUOITHUE] ADD UNIQUE NONCLUSTERED 
(
	[CCCD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HOADON] ADD  DEFAULT ((3500)) FOR [DonGiaDien]
GO
ALTER TABLE [dbo].[HOADON] ADD  DEFAULT ((15000)) FOR [DonGiaNuoc]
GO
ALTER TABLE [dbo].[HOADON] ADD  DEFAULT (N'Chưa thanh toán') FOR [TrangThaiThanhToan]
GO
ALTER TABLE [dbo].[HOPDONG] ADD  DEFAULT (N'Đang hiệu lực') FOR [TrangThai]
GO
ALTER TABLE [dbo].[PHONG] ADD  DEFAULT ((1)) FOR [SoNguoiToiDa]
GO
ALTER TABLE [dbo].[PHONG] ADD  DEFAULT (N'Cố định') FOR [LoaiGia]
GO
ALTER TABLE [dbo].[PHONG] ADD  DEFAULT (N'Trống') FOR [TrangThai]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_HOPDONG] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HOPDONG] ([MaHD])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_HOPDONG]
GO
ALTER TABLE [dbo].[HOPDONG]  WITH CHECK ADD  CONSTRAINT [FK_HOPDONG_NGUOITHUE] FOREIGN KEY([MaNT])
REFERENCES [dbo].[NGUOITHUE] ([MaNT])
GO
ALTER TABLE [dbo].[HOPDONG] CHECK CONSTRAINT [FK_HOPDONG_NGUOITHUE]
GO
ALTER TABLE [dbo].[HOPDONG]  WITH CHECK ADD  CONSTRAINT [FK_HOPDONG_PHONG] FOREIGN KEY([MaPhong])
REFERENCES [dbo].[PHONG] ([MaPhong])
GO
ALTER TABLE [dbo].[HOPDONG] CHECK CONSTRAINT [FK_HOPDONG_PHONG]
GO
ALTER TABLE [dbo].[NGUOITHUE]  WITH CHECK ADD  CONSTRAINT [FK_NGUOITHUE_PHONG] FOREIGN KEY([MaPhong])
REFERENCES [dbo].[PHONG] ([MaPhong])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[NGUOITHUE] CHECK CONSTRAINT [FK_NGUOITHUE_PHONG]
GO
USE [master]
GO
